* {
    margin: 0%;

}

.body {
    min-height: 100vh;
    background-image: linear-gradient(rgb(249, 217, 239), rgb(216, 248, 252), rgb(249, 209, 237));
}

.header {
    text-align: center;
    padding: 1rem;
}
form{
    margin:1rem 10%;
    border: 1px solid rgb(202, 174, 174);
    padding: 1rem;
}

input {
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}
.employmentDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    max-width: 60%;
    padding-left: 1rem;
    row-gap: 1rem;
}

.personalInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.address {
    padding: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.btn {
    text-align: center;
}
button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: rgb(166, 251, 251);
}
hr{
    color: white;
}
.backButton {
    margin: 0 45%;
    width: 10%;
    text-align: center;
}
.successMsg{
    color: green;
}
.gender {
    display: flex;
    gap: 1rem;
}
 
.radio, .genderOpt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    color: red;
}
.required {
    color: rgb(126, 124, 124);
    padding-left: 5px;
    font-size: .8rem;
}
.date {
    width: 100%;
    text-align: center;
}