.header, .footer, .body {
    background-image: linear-gradient(rgb(249, 217, 239), rgb(216, 248, 252), rgb(249, 209, 237));
}
.footer{
    text-align: center;
}
 
table{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
tr{
    border: 1px solid red;
}

th, td {
    border: 1px solid rgb(195, 200, 255);
    padding: .5rem;
    width: 50%;
}