* {
    margin: 0%;

}

.body {
    min-height: 100vh;
    background-image: linear-gradient(rgb(249, 217, 239), rgb(216, 248, 252), rgb(249, 209, 237));
}

.header {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 5px;
    font-size: 1rem;
    background-color: rgb(190, 243, 225);

}

.title {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 600;
}

.employees {
    margin: 0 10%;
    padding-bottom: 5%;
}

.employee {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(254, 254, 254);
    margin-bottom: .5rem;
    border-radius: 10px;
    flex-wrap: wrap;
    
}
.employee:hover{
    position: relative;
    transform: translate(-10px);
}
.employee div {
    overflow: scroll;
    width: 32%;
    text-align: center;
    background-image: linear-gradient(rgb(255, 239, 250), rgb(231, 250, 252), rgb(255, 234, 249));
    padding:5px 0;
}
.link {
    text-decoration: underline;
    color: rgb(57, 57, 249);
}
.link:hover {
    cursor: pointer;
}
.err {
    color: red;
    text-align: center;
}